/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache
.php-cs-fixer.cache
.idea/
.DS_Store
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
bootstrap/cache/*.php
.env.backup
/.fleet/
